<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="{{ '/assets/js/app.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.js' | relative_url }}"></script>
<link rel="stylesheet" src="{{ '/assets/css/app.css' | relative_url }}">
<link rel="stylesheet" src="{{ '/_sass/_main.css' | relative_url }}">

<script>
    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    }
    function openNav() {
    document.getElementById("mySidenav").style.width= "25%";
    }
</script>
