// Vendors
@import
  '_vendors/bootstrap-custom';

// Components
@import
  '_components/buttons';

// Themes
@import
  '_themes/styleguide';

/* PUT YOUR (S)CSS BELOW THIS LINE */

h1, h2, h3, h4, {font-family: 'Gruppo';}

p, h5, h6, address {font-family: Avenir Next, light;}

nav {
  background-color: black;
  font-family: 'Gruppo';
  margin: 0 auto;
}

nav img {
  padding-left: 2%;
}

form { padding-left: 5%;}

nav li {
      font-size: 25px;
      color: white;
      display: inline-block;
      overflow: hidden;
      padding-left: 20%;
      width: 100%;
}
.container {
    width: 12000px !important;
    max-width: 100%;
}

.carousel {
  margin: -2%;
}

.img-fluid {
    max-width: none;
    width: 100% !important;
    height: 100% !important;
}

.navbar span { color: white;}

.navbar-nav {
    display: block !important;
    flex-direction: column;
    padding-left: 2%;
    list-style: none;
}

.intro {font-size:18px;}

.socialmedia {color: white;}
.socialmedia:hover {color: gray;}

.screen-item {margin-bottom: 2%;}

.slides-button  { border: none;
                  box-shadow: none;
                  width: 100%;
                }
.navbar .container {
  justify-content: space-between;
}

.bg-inverse {
    background-color: black !important;
}

#knoppen {
    background-color:#060606 !important;
    color: white !important;
}

/* Newsletter */

.newsletter {
position : fixed;
z-index : 9999;
right : 0;
left : 0;
width : 50%;
margin : auto;
padding : 18px;
transition : all .4s cubic-bezier(.4, 0, .2, 1);
background: white; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, white, lightblue);
background: linear-gradient(to left, white, lightblue); 
}

.newsletter.top {
top : -150px;
animation-name : cpnewslettertop;
animation-duration : 1s;
animation-iteration-count : 1;
border-radius : 0 0 10px 10px;
}

@keyframes cpnewslettertop{
0% { transform : translateY(100%);}
100% {transform : translateY(0%);}
}

.newsletter.top:hover { top : 0;}

.newsletter.top .newsletter-icon { margin: 0 45% 0 45% ;}

.newsletter.top:hover .newsletter-icon { margin: 0 45% 0 45% ;}

.newsletter.bottom {
top : -255px;
animation-name : cpnewsletterbottom;
animation-duration : 1s;
animation-iteration-count : 1;
border-radius : 0 0 10px 10px;
}

@keyframes cpnewsletterbottom {
0% { transform : translateY(-100%);}
100% { transform : translateY(0%);}
}

.newsletter.top:hover { top : 0; }

.newsletter.bottom form {
margin-bottom : 150px;
transition : all .8s cubic-bezier(.4, 0, .2, 1);
}

.newsletter.bottom :hover form { margin-bottom : 40px; }

/*icoon*/
.newsletter.bottom .newsletter-icon {
position : absolute;
bottom : -1%;
left : 50%;
margin : center;
}

.newsletter-icon {
width : 50px;
height : 50px;
text-align: center;
line-height: 50px;
cursor : pointer;
transition : all .8s cubic-bezier(.4, 0, .2, 1);
animation : cpnewslettericon 2s infinite;
border-radius : 100%;
box-shadow : 0 0 0 2px #189099;
background: white; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, white, lightblue);
background: linear-gradient(to left, white, lightblue);
color: #FFF;
font-size: 22px; 
}

@keyframes cpnewslettericon {
0% {box-shadow : 0 0 0 2px #189083;}
50% {box-shadow : 0 0 0 1px #189083;}
90% {box-shadow : 0 0 0 4px #189083;}
100% {box-shadow : 0 0 0 1px #189083;}
}

.newsletter-title {
font-size : 26px;
margin-top : 10px;
text-align : center;
color : #FFF;
}

.newsletter form {
margin : 26px auto;
text-align : center;
}

@media screen and (min-width: 860px) {
.newsletter form { width : 460px;}}
.newsletter input {display : inline-block;}
.newsletter input:focus ,
.newsletter textarea:focus {
outline : none;
box-shadow : none;
}
.newsletter input[type=email] {
width : 50%;
margin-left: -15%;
padding : 2%;
border : none;
border-radius : 10px 0 0 10px;
background: white;
}
.newsletter input[type='submit'] {
width : 20%;
padding : 2%;
cursor : pointer;
color : #ffffff;
border : none;
border-radius :0 10px 10px 0;
background : #189083;
}
.newsletter input[type='submit']:hover { opacity : .9;}

@media screen and (max-width: 860px) {
.newsletter.bottom .newsletter-icon {margin : 5% auto 5%;}
.newsletter.bottom {bottom : -175px;}
.newsletter.top {top : -200px;}
.newsletter {
    width : 75%;
    padding : 0 10px;
}
.newsletter-title {font-size : 18px;}
.newsletter input[type=email] {width : 62%;}
.newsletter input[type='submit'] {width : 30%;}
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 5%;
}

.sidenav .closebtn {
    padding: 5%;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50%;
}

.sidenav .closebtn:hover { color: grey; }