<footer class="bg-inverse text-white p-4 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-4 mb-4">
                <h3>Contactgegevens</h3>
                <address><i class="fa fa-address-card fa-fw"></i>
                    Arteveldehogeschool<br>
                    Industrieweg 232<br>
                    9030 Gent
                </address>
            </div>
            <div class="col-sm-12 col-lg-4 mb-4">
                <h3>Social media</h3>
                    <a class="btn btn-default socialmedia" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
                    <a class="btn btn-default socialmedia" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
                    <a class="btn btn-default socialmedia" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
            </div>
            <div class="col-sm-12 col-lg-4">
                <h5>&copy; {{ site.title }}</h5>
                {% for author in site.authors %}
                <p><i class="fa fa-user fa-fw"></i> {{ author }}</p>
                {% endfor %}
                <a class="btn btn-secondary" href="{{ '/styleguide' | relative_url }}"><i class="fa fa-book fa-fw mr-2"></i>Styleguide</a>
            </div>
        </div>
    </div>
</footer>
