<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary mb-4">
    <div class="container">
        <a class="navbar-brand" href="">
                <img src="" class="d-inline-block align-top">
            </a>
        <div id="mySidenav" class="sidenav">
            <a class="navbar-brand" href="{{ '/' | relative_url }}">
                <img src="{{ 'Images/MClogo.png' | relative_url }}" width="250px" height="175px" class="d-inline-block align-top">
            </a>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <ul class="navbar-nav">
            {% assign navigation_pages = site.pages %}
            {% for p in navigation_pages %}
            {% if p.title and p.visibility != 'hidden' %}
                <li class="nav-item">
                    <a href="{{ p.url | relative_url }}" class="nav-item nav-link{% if p.url == page.url %} active{% endif %} m-l-2">
                    {{ p.title }}
                    </a>
                </li>
            {% endif %}
            {% endfor %}
            </ul>
            <form class="form-inline my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-secondary my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </div>
</nav>