// Bootstrap overrides
//
// Copy variables from `https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss`
// to this file to override default values without modifying source files.

// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.


// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
$black:  black ;

// Reassign color vars to semantic color scheme
$brand-primary: $black;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-shadows: true;
$enable-gradients: true;

// Components
//
// Define common padding and border radius sizes and more.

$border-radius: 5px;

// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-padding-x: .8rem;
$btn-padding-y: .4rem;


// Import Bootstrap (installed by `bundler install`)

@import 'bootstrap';
