---
layout: page
permalink: /
---

<div class="container">
        <!-- Newsletter -->
        <div class="newsletter top"><!-- Can be aligned Top or Bottom -->
            <p class="newsletter-title">Ontvang wekelijks een nieuwsbrief over events in knokke</p>
            <form>
                <input type="email" name="cpemail" placeholder="e-mail.." required>
                <input type="submit" value="Schrijf in">
            </form>
        <div class="newsletter-icon"><i class="fa fa-envelope-o"></i></div>
        </div>
        <!-- End Newsletter -->

<h1>Knokke le zout</h1>
    
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="{{ 'Images/HOME1.png' | relative_url }}" alt="First slide" width="120%">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="{{ 'Images/HOME2.png' | relative_url }}" alt="Second slide" width="120%">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="{{ 'Images/HOME3.png' | relative_url }}" alt="Third slide" width="120%">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

