---
layout: page
permalink: verblijf/
title: Verblijf
---

<div class="container">

<h1>Hotel</h1>

<p> Wil je een sportieve ervaring beleven op een leuke en simpele manier, dan ben je bij MC Sport bij het juiste adres. 
Wij van MC Sport bieden een leuke applicatie aan, waar je alle sporten kan beoefenen. 
Maar het is niet zo een saaie sport app, nee zeker niet! Via deze applicatie kan je je vrienden uitdagen om aan wedstrijden deel te nemen. 
Hierdoor doe je aan sport op een leuke en interactieve manier. 
Door deel te nemen aan de sport activiteiten wordt je beloont naar mate je prestaties.
</p>
<br>

<h1>B&B</h1> 

<p> Céline Janssens en Manou Ramboer zijn twee vriendinnen die op het idee zijn gekomen om een sportieve app te ontwikkelen. 
Zelf zijn de dames bezig met hun gezondheid en vinden ze sporten heel belangrijk. 
Door steeds samen te gaan sporten en er wedstrijdjes van te maken zijn we op het idee gekomen om dit in een applicatie te verwerken. 
Zo blijf je in contact met vrienden of kan je nieuwe vrienden leren kennen. 
We vinden het belangrijk dat mensen sportief bezig zijn, om zo een gezonde levenstijl te bekomen.
</p>
<br>

<h1>Camping</h1> 

<p> Céline Janssens en Manou Ramboer zijn twee vriendinnen die op het idee zijn gekomen om een sportieve app te ontwikkelen. 
Zelf zijn de dames bezig met hun gezondheid en vinden ze sporten heel belangrijk. 
Door steeds samen te gaan sporten en er wedstrijdjes van te maken zijn we op het idee gekomen om dit in een applicatie te verwerken. 
Zo blijf je in contact met vrienden of kan je nieuwe vrienden leren kennen. 
We vinden het belangrijk dat mensen sportief bezig zijn, om zo een gezonde levenstijl te bekomen.
</p>
<br>
    
<h1>Vakantiewoning</h1> 

<p> Céline Janssens en Manou Ramboer zijn twee vriendinnen die op het idee zijn gekomen om een sportieve app te ontwikkelen. 
Zelf zijn de dames bezig met hun gezondheid en vinden ze sporten heel belangrijk. 
Door steeds samen te gaan sporten en er wedstrijdjes van te maken zijn we op het idee gekomen om dit in een applicatie te verwerken. 
Zo blijf je in contact met vrienden of kan je nieuwe vrienden leren kennen. 
We vinden het belangrijk dat mensen sportief bezig zijn, om zo een gezonde levenstijl te bekomen.
</p>
<br>
    
<h1>Jeugdverblijf</h1> 

<p> Céline Janssens en Manou Ramboer zijn twee vriendinnen die op het idee zijn gekomen om een sportieve app te ontwikkelen. 
Zelf zijn de dames bezig met hun gezondheid en vinden ze sporten heel belangrijk. 
Door steeds samen te gaan sporten en er wedstrijdjes van te maken zijn we op het idee gekomen om dit in een applicatie te verwerken. 
Zo blijf je in contact met vrienden of kan je nieuwe vrienden leren kennen. 
We vinden het belangrijk dat mensen sportief bezig zijn, om zo een gezonde levenstijl te bekomen.
</p>
<br>
