---
layout: page
permalink: eten/
title: Eten
---
<div class="container">
<h1>Laat het je smaken</h1>

<p class="intro"> De beste restaurants en bars van de Belgische kust.</p>

    
<!---
<img src="{{ 'Images/iPhone.jpg' | relative_url }}" class="" alt="Céline Janssens" width="100%" height="100%">

<div class="jumbotron jumbotron-fluid"/>
    <div class= "container text-center"/>
        <h3 class="center-block">Wil jij onze app ook eens uitproberen? Download hem hier!</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <button type="button" href="https://itunes.apple.com/nl/genre/ios/id36?mt=8" class="btn btn-secondary btn-lg btn-block" target="_blank" download><i class="fa fa-apple fa-2x"></i>&nbsp; iTunes</button>
                </div>
                <div class="col">
                    <button type="button" href="https://play.google.com/store?utm_source=emea_Med&utm_medium=hasem&utm_content=090814&utm_campaign=Evergreen&pcampaignid=MKT-EG-emea-be-all-Med-hasem-py-Evergreen-090814-1%7C.HASEM_kwid_43700007037997614&gclid=COC9u8qi49MCFURcGwod8h8D-A&gclsrc=ds&dclid=CIyVzMqi49MCFROZdwodTGgLcg#/now" class="btn btn-secondary btn-lg btn-block" target="_blank" download><i class="fa fa-android fa-2x"></i>&nbsp; Google Play</button>
                </div>
            </div>
        </div>
        <br>
        <h4 class="display-2" data-counter-start="8765" data-counter-increment="2">0</h4>
        <h4 class="display-4">App downloads</h4>
    </div>
</div>
</div>

-->
    
