---
layout: page
permalink: vervoer/
title: Vervoer
---
<div class="jumbotron container">
    <h1>De kust tram</h1>
    <br>
    <div class="row">
        <div class="col">
             <h5>MC Sports</h5>
             <p><span class="fa fa-map-marker" style="margin:1%"></span>Industrieweg 232 </p>
             <p><span style="margin:2%"></span>9030 Gent-Mariakerke </p>
             <p><span class="fa fa-phone-square" style="margin:1%"></span>09 234 86 00 </p>
             <p><span class="fa fa-envelope" style="margin:1%"></span> mail ons mcsports@gmail.com </p>
        </div>
        <div class="col">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2506.174659915196!2d3.6694719157545514!3d51.086784079568204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c37049bd261195%3A0x452db3772cf6728a!2sIndustrieweg+232%2C+9030+Gent!5e0!3m2!1snl!2sbe!4v1494234588230" width="100%" height="90%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="jumbotron container">
    <h1>Ontdek de kust met je fiets!</h1>
    <br>
    <div class="row">
        <div class="col">
             <h5>MC Sports</h5>
             <p><span class="fa fa-map-marker" style="margin:1%"></span>Industrieweg 232 </p>
             <p><span style="margin:2%"></span>9030 Gent-Mariakerke </p>
             <p><span class="fa fa-phone-square" style="margin:1%"></span>09 234 86 00 </p>
             <p><span class="fa fa-envelope" style="margin:1%"></span> mail ons mcsports@gmail.com </p>
        </div>
        <div class="col">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2506.174659915196!2d3.6694719157545514!3d51.086784079568204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c37049bd261195%3A0x452db3772cf6728a!2sIndustrieweg+232%2C+9030+Gent!5e0!3m2!1snl!2sbe!4v1494234588230" width="100%" height="90%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="container">

<h1>Kom met de auto</h1>
    
    
<h1>Kom met de trein</h1> 
    

<h1>Kom met de fiets</h1>
    

<form action="" id="contact-form">
    <div class="form-group row">
        <label for="email-input" class="col-form-label col-md-2">E-mailadres</label>
        <div class="col-md-10">
            <input id="email-input" name="email" class="form-control" type="email" placeholder="name@example.org" required>
            <small class="form-control-feedback"></small>
        </div>
    </div>
    <div class="form-group row">
        <label for="message-textarea" class="col-form-label col-md-2">Bericht</label>
        <div class="col-md-10">
            <textarea id="message-textarea" class="form-control" name="message"minlength="3" required></textarea>
            <small class="form-control-feedback"></small>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-2">
            <button class="btn btn-secondary" type="submit"><i class="fa fa-paper-plane fa-fw mr-2"></i>Verzenden</button>
        </div>
    </div>
</form>

</div>